body {
    margin: 0;
    background: #fff;
    color: #000;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #ED254E;
    border: 0;
}

.fa-solid {
    font-size: 2em;
}

.dark-mode {
    background: #000;
    color: #fff;
}

header {
    background-color: #ED254E;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    align-items: center;
    height: 12vh;
}

header img {
    width: 16vw;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    text-decoration: underline;
}

main {
    margin: 30px;
}

#back {
    margin: 30px;
}

#map {
    margin: auto;
}

#panel {
    margin: auto;
}

.fa {
    font-size: 4em;
    text-decoration: none;
    color: #C2CAD1;
}

.fa:hover {
    transform: scale(1.1);
}