body {
    margin: 0;
}

header {
    background-color: #ED254E;
    display: flex;
    justify-content: center;
    padding: 10px;
}

header img {
    width: 30vw;
}

main {
    margin: 30px;
}

#about {
    background-color: #C2CAD1;
    width: 60vw;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}